<h1>tasks index</h1>

<p>
<%= link_to 'Create new task', tasks_new_path %>
</p>

<table border='1'>
  <tr>
    <td>Index</td>
    <td>Title</td>
    <td>Text</td>
  </tr>

  <% @tasks.each do |task| %>
    <tr>
      <td><%=task.id%></td>
      <td><%=task.title%></td>
      <td><%=task.text%></td>
      <td><%= link_to 'Show task', task_path(task) %></td>
      <td><%= link_to 'Edit task', edit_task_path(task) %></td>
      <td><%= link_to 'Delete task', task_path(task), method: :delete  %></td>
    </tr>
  <% end %>

</table>
